<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-primary">Fatura</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <a href="#" class="btn btn-primary">İrsaliye</a>
        </div>
      </div>
  </div>
</div>